

*{
    margin:0;
    padding:0;
}







    .image-rap{
        background-image: linear-gradient(rgba(85, 82, 82, 0.904), rgb(63, 60, 60));





    }


.image-rap{
    overflow-y: auto;
}*/

.desc{
    padding-top: 100px;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    color:black;
}

.mfooter{
    background-color: thistle;
}



.cclass{
    margin-top: 50px;
}

.cst{
    padding-bottom: 50px;
}
.cst1{
    text-align: center;
}

.ft{
    font-style: italic;
  
}

